#root {
  background-color: red;
  background-image: linear-gradient(white, rgb(91, 91, 91));
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 0px !important;
}

/* --------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Nunito');

/* --------------------------------------------------------------------------------------------------------------- */

ul {
  padding-inline-start: 0 !important;
}

* {
  transition: all 0.7s !important; 
  font-family: 'Mukta' !important;
}

.boutonNav {
  cursor: pointer;
  box-shadow: 10px 10px 0 rgba(255,255,255,0);
  background-color : #FECC02 !important;
}

.boutonNav:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 0px darkgrey;
  background-color : grey !important;
  opacity: 0.8;
}
.nav {
} 


.bg-light {
  box-shadow: 0px 0px 50px darkgrey;
  background-color : #FECC02 !important;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0) !important;
}

.navbar-light .navbar-toggler-icon {
  opacity: 1 !important;
}

#main-title {
  display: flex;
  transform: scale(1.05);
  font-size: 1.45rem !important;
}

#main-logo {
  height: 32px;
  width: 30px;
  margin-right: 8px;
  background-image: url(../src/logo.svg);
  background-repeat: no-repeat;
  background-position: right;
  transform: scale(1.1);
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 3px !important;
  padding-top: 3px !important;
}

#boutonNav {
  width: 95%;
  font-size: 1.4rem;
}

.card {
  border: none !important;
  background-image: linear-gradient(#2d2d2d , white 18%);
  border-radius: 30px !important;
}

.like {
  background-image: url(../src/likelogo.svg);
  background-repeat: no-repeat;
}

.like:hover {
  opacity: 0.75;
}

@media (min-width: 770px) {
  .col-md-6 {
    /* max-width: 48% !important; */
    max-width: 48% !important;
    margin: 0 1% !important;
  }
  #boutonNav {
    width: 80% !important;
    font-size: 2.5vw;
  }
  .card {
    border-radius: 15px !important;
  }
  .xtremCard {
    border-radius: 15px !important;
  }
}

@media (max-width: 575px) {
  .card {
    border-radius: 0px !important;
  }
  .xtremCard {
    border-radius: 0px !important;
  }
}

.xtremCard {
  background-image: linear-gradient(#2d2d2d , white 50%);
}

.gradient {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(150, 150, 150, 0.7), rgba(255, 255, 255, 0));
}


#crushBtn, #discrushBtn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.95;
  z-index:10;
}

#crushBtn {
  background-image: url(../src/likelogo.svg);
  right: -5px;
  bottom: -50px;
  height: 110px;
  width: 110px;
  transform: rotate(20deg);
}

#discrushBtn {
  background-image: url(../src/dislikelogo.svg);
  left: -5px;
  bottom: -50px;
  height: 110px;
  width: 110px;
  transition: all 0.3s;
}

#crushBtn:hover{
  opacity: 0.7;
  transform: rotate(0deg) scale(1.2);
}

#discrushBtn:hover {
  opacity: 0.7;
  transform: rotate(380deg) scale(1.2);
}

#crushBtn, #discrushBtn {
  cursor: pointer;
}

#titleMovieRandom {
  color: white;
}

@media (max-width: 991px) {
  #titleMovieRandom {
    color: #2d2d2d;
  }
}

#paddingRightKill .col-12, #paddingRightKill .col-xl-10 {
  padding-right: 0px !important;
}

.badgeList {
  background-image: linear-gradient(to right, #f4f4f4 60%, rgba(91, 91, 91, 0.2));
  box-shadow: 3px 3px 0 rgba(0,0,0,0.4);
  transition: all 1s;
}

/* .badgeList:hover{
  background-image: linear-gradient(to right, rgba(91, 91, 91, 0.0), rgba(91, 91, 91, 0.0));
  background-color: #fc4456;
  transform: scale(1.05);
  opacity: 0.8;
} */

#moreInfo {
  transition: all 1s;
  color: grey;
  letter-spacing: 2px;

}
#moreInfo:hover {
  transform: scale(1.1) translateX(-10px);
  text-decoration: none;
  letter-spacing: 4px;
  opacity: 0.8;
}

.pStyle {
  margin-right: 15px;
  background-image: linear-gradient(rgba(91, 91, 91, 0) 50%, rgba(0, 0, 0, 0.2));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 5px 5px 5px;
}

.crossBtn {
  background-color: #f7c625;
  transition: all 1s;
  opacity: 0.85;
}

.crossBtn:hover {
  background-color: #fc4456;
  opacity: 0.7;
  transform: scale(1.2);
}

#btnPrint {
  transition: all 1s;
  cursor: pointer;
  background-color: #fdd237;

}

#btnPrint:hover {
  transform: scale(1.1);
  background-color: #3aeaad;
  opacity: 0.8;
}

@media print {
  #btnPrint, .crossBtn {
    display:none !important;
  }
}